
---

interface Props {
	title?: string; // Optional title prop for the document, defaults to 'Stephen Sterling - Portfolio'
}

const { title } = Astro.props;

import '../styles/global.css'; // Import global styles
import Header from '../components/Header.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
		<title>{title || 'Stephen Sterling - Portfolio'}</title>
	</head>

	
	<body>
    	
		<Header 
			siteTitle = "Stephen Sterling" 
			logoAlt = "Stephen Sterling's Logo" 
		/>
		

    	<slot /> {/* This is where the content of each page will go */}

    	<!-- Footer -->
		<footer class="py-8 px-6 bg-black text-white text-center rounded-t-xl mt-16">
			<div class="container mx-auto">
				<p>&copy; 2025 Stephen Sterling. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>

